extends ../main.layout.pug

block variables
	-
		var title = 'Обо мне',
				modTriangle = 'about'

block scripts
	script(src='about.bundle.js')

block start-section
	include ../common/start

block content
	section(id='next').about
		.about__left
			.about__container-left
				h1.title.about__title
					span.about__title-text.about__title-text_with-bg Обо мне
				.about__info
					.about__author-foto
						+image('me_.jpg', 'Фото Виталий Ушачёв', 'about__author-image')
					h2.subtitle.about__subtitle
						span.about__title-text Кто я
					.about__about-me.text-content
						p Я веб разработчик из Орла. Мне 43 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите как тут всё классно и красиво!
		.about__right
			.about__container-right
				h2.subtitle.about__subtitle
					span.about__title-text Чем я могу быть
					br
					span вам полезен
				.about__about-skills.text-content
					p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
				#skills-container
	section.map
		.contacts
			h2.subtitle.contacts__title
				span.contacts__title-text Контакты
			address.contacts__data
				ul.contacts__list
					-
						var contacts = [
							['skype', 'callto:abvgdeyozhtt', 'abvgdeyozhtt'],
							['mail', 'mailto:vit.ush@mail.ru', 'vit.ush@mail.ru'],
							['phone', 'tel:+7-800-000-00-00', '+7 800 000 00 00'],
							['map', '#', 'г.Орёл, ул.Ленина, д.1, кв.1']
						]
					each contact in contacts
						li.contacts__item
							a(class=`contacts__link contacts__link_${contact[0]}`, href=`${contact[1]}`)
								span.contacts__value #{contact[2]}
		.map__google-map
block footer
	footer.footer.footer_about
		.container
			.footer__row
				+nav('footer', menuItems)
				+socials('', 'footer__socials')(width='30' height='26')
			.footer__row
				.footer__cell.footer__cell_left Я веб-разработчик из Орла, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
				.footer__cell.footer__cell_right 
					small.footer__copy © Виталий Ушачёв | создано с любовью в LoftSchool | 2018
