extends ../auth.layout.pug

block content
	.paralax
		.paralax__layer
			+image('paralax/layer1.png', '', 'paralax__image paralax__image_1')
		.paralax__layer
			+image('paralax/layer2.png', '', 'paralax__image paralax__image_2')
		.paralax__layer
			+image('paralax/layer3.png', '', 'paralax__image paralax__image_3')
		.paralax__layer
			+image('paralax/layer4.png', '', 'paralax__image paralax__image_4')
		.paralax__layer
			+image('paralax/layer5.png', '', 'paralax__image paralax__image_5')
		.paralax__layer
			+image('paralax/layer6.png', '', 'paralax__image paralax__image_6')
		.paralax__layer
			+image('paralax/layer7.png', '', 'paralax__image paralax__image_7')
		.paralax__layer
			+image('paralax/layer8.png', '', 'paralax__image paralax__image_8')
		.paralax__layer
			+image('paralax/layer9.png', '', 'paralax__image paralax__image_9')
		.paralax__layer
			+image('paralax/layer10.png', '', 'paralax__image paralax__image_10')