-
	var menuItems = [
		{
			name: 'Мои работы',
			url: 'works.html'
		},{
			name: 'Обо мне',
			url: 'about.html'
		},{
			name: 'Блог',
			url: 'blog.html'
		},{
			name: 'Авторизация',
			url: 'index.html'
		}
	]

-
	var socialItems = [
		{
			name: 'vk',
			url: 'https://vk.com'
		},{
			name: 'github',
			url: 'https://github.com/ushachev'
		},{
			name: 'in',
			url: 'https://www.linkedin.com/'
		}
	]