include _variables

footer.footer
	.container
		.footer__row
			+nav('footer', menuItems)
			+socials('', 'footer__socials')(width='30' height='26')
		.footer__row
			.footer__cell.footer__cell_left Я веб-разработчик из Орла, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
			.footer__cell.footer__cell_right © Виталий Ушачёв | создано с любовью в LoftSchool | 2018