include _variables

section.start#start
	.start__bg
	.container.container_start
		header.header
			+nav('header', menuItems)
			+socials('', 'header__socials')(width='30' height='26')
			button(type='button').hamburger.hamburger_slider
				span.hamburger-box
					span.hamburger-inner
			//- button(type='button').hamburger-btn
				+icon('hamburger', 'hamburger-btn__icon')(width='40' height='35')
		.start__info
			.author
				.author-foto
					+image('me_.jpg', 'Фото Виталий Ушачёв', 'author-foto__image')
				.author__name Виталий Ушачёв
				h2.author__subtitle Личный сайт веб разработчика
			