include ./common/_mixins
include ./common/_variables
block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		
		title Portfolio | #{title}
		link(rel='stylesheet' href='main.min.css')
	body
		.wrapper
			.preloader
				span.preloader__per 1000%
				span.preloader__percent 0%
				.preloader__loader
			
			block start-section
				
			main.maincontent
				svg.maincontent__triangle-left(viewBox="0 0 600 110" preserveAspectRatio="none" class= (modTriangle) ? ` maincontent__triangle-left_${modTriangle}` : '')
					polygon(points="0,0 0,110 600,110")
				svg.maincontent__triangle-right(viewBox="0 0 600 110" preserveAspectRatio="none" class= (modTriangle) ? ` maincontent__triangle-right_${modTriangle}` : '')
					polygon(points="600,0 600,110 0,110")
				a(href='#next').maincontent__link
					+icon('arrow_down', 'maincontent__link-icon')(width='26' height='16')

				block content

			block footer

	include ./components/entry

	script(src='bootloader.bundle.js')
	script(src='vendor.bundle.js')
		
	block scripts

		