@mixin marked {
	position: relative;

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 22px;
		height: 6px;
		top: 50%;
		margin-top: -3px;
		background-color: currentColor;
		opacity: 0.2;
	}

	&::before {
		left: -42px;
	}

	&::after {
		right: -42px;
	}
}

@mixin tablet {
	@media screen and (max-width: $tablet),
		screen and (max-height: 480px) and (orientation: landscape) {
		@content;
	}
}

@mixin phone {
	@media screen and (max-width: $phone),
		screen and (max-height: 480px) and (orientation: landscape) {
		@content;
	}
}

@mixin phone-w-o-land {
	@media screen and (max-width: $phone) {
		@content;
	}
}

@mixin small-phone {
	@media screen and (max-width: $small-phone),
		screen and (max-height: 480px) and (orientation: landscape) {
		@content;
	}
}

@mixin small-phone-w-o-land {
	@media screen and (max-width: $small-phone) {
		@content;
	}
}

@mixin wide-desktop {
	@media screen and (min-width: 1920px) {
		@content;
	}
}

@mixin phone-land {
	@media screen and (min-width: 568px) and (orientation: landscape) {
		@content;
	}
}

@mixin landscape { 
	@media screen and (max-height: 480px) and (orientation: landscape) {
		@content;
	}
}

@mixin Xsmall-phone-land {
	@media screen and (max-width: 568px) and (orientation: landscape) {
		@content;
	}
}


