body, html {
	height: 100%;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: $lineHeight;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	height: 100%;
	// min-height: 100%;
	position: relative;
}

.wrapper-index {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url("./assets/images/bg_header.jpg");
	background-color: #8aafaf;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.maincontent {
	position: relative;
	height: 100%;
	margin-top: -60vh;

	&__triangle-left,
	&__triangle-right {
		position: absolute;
		bottom: 100%;
		width: 50%;
		height: 110px;
		fill: #fff;
	}

	&__triangle-left {
		left: 0;

		&_white {
			fill: $white;
		}
	}

	&__triangle-right {
		right: 0;

		&_beige {
			fill: $beige;
		}
	}
}

.container {
	margin: 0 auto;
	width: 95%;

	&_header {
		display: flex;
		flex-direction: column;
		height: 62.5%;
	}

	&_about {
		display: flex;
	}
}

.container-index {
	width: 380px;
	height: 395px;
	margin: auto;
	perspective: 1200;
}

.flip-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 1s linear;

	&_flipped {
		transform: rotateY(180deg);
	}
}

.visually-hidden {
	position: absolute;
	text-indent: -9999px;
	visibility: hidden;
	overflow: hidden;
}

button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background: none;
	outline: none;
}

* {
	// box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

svg {
	display: block;
}

img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.text-content {
	line-height: 24px;

	p {
		margin-bottom: 20px;
	}
}

.title {
	position: relative;
	box-sizing: border-box;
	font-family: bernier;
	font-size: 63px;
	line-height: 1.1;
	color: $grey;
	z-index: 1;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		opacity: 0.07;
		z-index: -1;
	}
}

.subtitle {
	font-family: bernier;
	font-size: 35px;
}

.copy {
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 30px;
	font-size: inherit;
	font-weight: 300;
	color: #fff;
	transform: translateX(-50%);
}