.blog {
	position: relative;
	// display: flex;
	min-height: 100%;
	padding-top: 55px;
	box-sizing: border-box;
	background-color: #fff;

	&__sidebar {
		position: absolute;
		top: 55px;
		left: 2%;
		width: 23%;
	}

	&__list {
		margin-left: auto;
		width: 65%;
	}

	&__item {
		padding-bottom: 65px;

		&:not(:first-child) {
			padding-top: 60px;
			border-top: 5px solid rgba($grey, .07);
		}
	}
}