.blog {
	position: relative;
	// display: flex;
	min-height: 100%;
	padding-top: 55px;
	padding-bottom: 150px;
	box-sizing: border-box;
	background-color: #fff;

	&__nav {
		position: absolute;
		top: 55px;
		left: 2%;
		width: 23%;
	}

	&__triangles-left,
	&__triangles-right {
		position: absolute;
		bottom: 100%;
		width: 50%;
		height: 110px;
		fill: #fff;
	}

	&__triangles-left {
		left: 0;
	}

	&__triangles-right {
		right: 0;
	}

	&__list {
		margin-left: auto;
		width: 65%;
	}

	&__item {
		padding-bottom: 65px;

		&:not(:first-child) {
			padding-top: 60px;
			border-top: 5px solid rgba($grey, .07);
		}
	}
}