.header {
	display: flex;
	justify-content: space-between;
	padding-top: 27px;

	@include small-phone {
		padding-top: 0;
	}

	&__nav {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -5;

		&::before,
		&::after {
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			width: 50%;
			background-color: rgba(#00bfa5, .87);
			transition: .4s;
		}

		&::before {
			right: 100%;
		}

		&::after {
			left: 100%;
		}

		&_overlay {
			z-index: 10;

			.header__nav-list {
				display: block;
			}

			&::before {
				right: 50%;
			}

			&::after {
				left: 50%;
			}
		}
	}

	&__nav-list {
		display: none;
		margin: auto;
	}

	&__nav-item {
		display: flex;
		height: 130px;
		text-align: center;
		opacity: 0;

		@include small-phone {
			height: 90px;
		}

		@include Xsmall-phone-land {
			height: 70px;
		}

		&_overlay {
			opacity: 1;
		}
	}

	&__nav-link {
		@include marked;

		margin: auto;

		box-sizing: border-box;
		vertical-align: middle;
		font-family: bernier;
		font-size: 63px;
		line-height: 1.1;
		color: #fff;
		text-align: center;
		text-decoration: none;
		z-index: 10;

		&:hover::before,
		&:hover::after {
			opacity: 1;
		}

		@include tablet {
			font-size: 49px;
		}

		@include small-phone {
			font-size: 35px;
		}
	}
}