.header {
	display: flex;
	justify-content: space-between;
	padding-top: 27px;

	&__socials {

		// .socials__item:not(:last-child) {
		// 	margin-right: 30px;
		// }

		// .socials__icon_vk {
		// 	width: 31px;
		// 	height: 17px;
		// }

		// .socials__icon_github {
		// 	width: 26px;
		// 	height: 22px;
		// }

		// .socials__icon_in {
		// 	width: 24px;
		// 	height: 22px;
		// }
	}

}