.inlined-svg {
  background: svg-load('github.svg', fill=$green) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  &:hover {
    background-image: svg-load('github.svg', fill=red);
  }
}

.left {
	background: svg-load('about_bg_left.svg', fill=yellow) no-repeat;
	width: 200px;
	height: 500px;
}

.right {
	background: svg-load('about_bg_right.svg', fill=pink) no-repeat;
	width: 200px;
	height: 500px;
}