.post {

	&__header {
		margin-bottom: 10px;
	}

	&__title {
		margin-bottom: 20px;
		width: 95%;
	}

	&__date {
		color: rgba(#00bfa5, .7)
	}

	&__content {
		margin: 10px 0;
		line-height: 26px;
	}
}