.post-menu {

	&__item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;
		padding-right: 17px;
		min-height: 40px;

		&_active {
			border-right: 3px solid #00bfa5;
		}
	}

	&__link {
		line-height: 26px;
		text-align: right;
		text-decoration: none;
		color: inherit;

		&:hover,
		.post-menu__item_active & {
			color: #00bfa5;
		}
	}
}