.post-menu {

	&__item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;
		padding-right: 17px;
		min-height: 40px;
		border-right: 3px solid transparent;

		&_active {
			border-right-color: #00bfa5;
		}
	}

	&__link {
		line-height: 26px;
		text-align: right;
		text-decoration: none;
		color: inherit;

		@include tablet {
			color: rgba(#fff, .7);
		}

		&:hover,
		.post-menu__item_active & {
			color: #00bfa5;

			@include tablet {
				color: #fff;
			}
		}

		.post-menu__item_active & {

			@include tablet {
				font-weight: 700;
			}
		}
	}
}