.review {

	&__image {
		object-fit: cover;
	}

	&__content {
		position: relative;
		margin-bottom: 20px;

		&::before {
			position: absolute;
			content: '';
			width: 33px;
			height: 29px;
			top: -50px;
			background-image: svg-load('quote-left.svg', fill=rgba(#373e42, .2));
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__author {
		display: flex;
	}

	&__author-foto {
		margin-right: 20px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__author-title {
		align-self: flex-end;
		line-height: 24px;
		color: #00bfa5;
	}

	&__author-name {
		font-weight: 700;
	}
}