.review-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	width: 100%;

	&__modal-wrap {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(#000, .7);
		z-index: 100;
	}

	&__modal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 280px;
		height: 110px;
		border-radius: 5px;
		background-color: #fff;
	}

	&__modal-text {
		color: rgba($grey, .8);
	}

	&__modal-btn {
		margin-top: 15px;
		padding: 11px 20px;
		border-radius: 5px;
		font-weight: 500;
		color: rgba(#fff, .8);
		background-color: rgba(#00bfa5, .85);

		&:hover {
			background-color: rgba(#009688, .85);
		}
	}

	&__label-txt {
		position: relative;
		margin-bottom: 20px;
		width: 88%;
	}

	&__input-txt,
	&__textarea {
		padding: 13px 19px;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid transparent;
		border-radius: 5px;
		outline: none;

		&::-webkit-input-placeholder {
			font-size: 14px;
			color: rgba($grey, .5);
		}

		&::-moz-placeholder {

			color: rgba($grey, .5);
		}

		&:-ms-input-placeholder {
			color: rgba($grey, .5);
		}

		&:focus {
			border-color: #00bfa5;
		}

		&.invalid {
			border-color: #e44845;
		}
	}

	&__textarea {
		margin-bottom: 20px;
		flex: 1;
		width: 88%;
		resize: none;
	}

	&__btn-wrap {
		display: flex;
		margin-top: auto;
		width: 100%;
	}

	&__btn {
		flex: 1;
		padding: 14px 16px;
		background-color: rgba(#00bfa5, .85);

		&:not(:last-child) {
			margin-right: 2px;
		}

		&:hover {
			background-color: rgba(#009688, .85);
		}
	}

	&__btn-text {
		font-weight: 500;
		color: #fff;
		border-bottom: 1px dotted transparent;

		.review-form__btn:focus & {
			border-bottom-color: initial;
		}
	}
}