.reviews {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(assets/images/bg_reviews.jpg);
	background-repeat: no-repeat;
	background-position-y: 20%;
	background-position-x: center;
	background-size: cover;
	overflow: hidden;

	@include tablet {
		background-position-y: 30%;
		background-size: auto;
	}

	@include phone {
		background-position-y: 20%;
	}

	&__title {
		display: flex;
		margin-bottom: 100px;
		padding-top: 23px;
		padding-right: 19px;
		width: 499px;
		max-width: 70%;
		height: 175px;

		&::before {
			background-image: svg-load('about_header.svg', fill=#6d7070);
		}

		@include tablet {
			margin-bottom: 40px;
			padding-top: 0;
			padding-right: 10px;
			height: 140px;
		}

		@include small-phone {
			height: 110px;
		}

	}

	&__marked-title {
		margin: auto;
		max-width: 280px;

		&::before,
		&::after {
			top: 1em * 1.1 / 2;
		}

		@include tablet {
			max-width: none;
		}

		@include phone {
			max-width: 75%;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		margin-bottom: 65px;
		max-width: 780px;

		@include tablet {
			margin-bottom: 45px;
			max-width: 95%;
		}

		@include phone {
			flex-direction: column;
		}

		@include small-phone {
			margin-bottom: 25px;
		}
	}

	&__item {
		flex: 1;
		padding-right: 20px;

		&:first-child {

			@include phone {
				margin-bottom: 65px;
			}
		}

		&:last-child {
			margin-left: 15px;

			@include phone {
				margin-left: 0;
			}
		}
	}

	&__form {
		position: relative;
		margin-bottom: 6vh;
		width: 380px;
		max-width: 95%;
		height: 440px;
		border-radius: 5px;
		overflow: hidden;

		&:hover .reviews__form-bg {
			filter: blur(1px);
		}

		@include tablet {
			height: 420px;
		}
	}

	&__form-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(assets/images/bg_reviews.jpg);
		background-repeat: no-repeat;
		background-position-x: center;
		filter: blur(5px);
		transition: filter 1s;
		
	}

	&__form-wrap {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(#ccc, .2);
	}

	&__form-title {
		margin: 30px 0 35px;
		
		@include tablet {
			margin-bottom: 15px;
		}	
	}

	&__link-up {
		margin-bottom: 6vh;
	}

	&__link-icon {
		fill: rgba(#fff, 0.7);
	}
}
