.socials {
	display: flex;

	&__item {
		display: flex;
		align-items: center;
	}

	&__link {
		// opacity: 0.5;
	}

	&__icon {
		fill: #fff;
	}
}

// .socials__item {
// 	display: flex;
// 	align-items: center;
// 	margin-left: 20px;
// }

// .socials__link {
// 	opacity: 0.5;
// }

// .socials__icon {
// 	fill: #fff;
// }

// .socials__icon_vk {
// 	width: 31px;
// 	height: 17px;
// }

// .socials__icon_github {
// 	width: 26px;
// 	height: 22px;
// }

// .socials__icon_in {
// 	width: 24px;
// 	height: 22px;
// }