.tooltip {
	position: absolute;
	padding: 13px 20px 13px;
	top: 130%;
	right: 0;
	border-radius: 5px;
	white-space: nowrap;
	color: #fff;
	background-color: #e44845;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	opacity: 0;
	visibility: hidden;
	z-index: 5;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		width: 14px;
		height: 14px;
		background-color: #e44845;
		transform: translate(-50%, -50%) rotate(45deg);
		z-index: 5;
	}

	&_active {
		opacity: 1;
		visibility: visible;
	}
}
